OPENAI_API_KEY=put_your_openai_api_key_here
OPENAI_MODEL=gpt-4.1-mini
DATA_DIR=./data/txt
PERSIST_DIR=./chromadb_genai_midterm
COLLECTION_NAME=genai_midterm_chunks
EMBEDDING_MODEL_NAME=all-MiniLM-L6-v2
